


/* For Mobile Portrait View */
@media (max-width:38em) 

{

    *{
        overflow-x: hidden;
    }
    .con{
        overflow-x: hidden;
    }
 .app-main{
    width: 45rem;
    overflow-x: hidden;

 }  
 .headline{
    margin-top: 3rem;
    font-size: 3.5rem;
 } 
 .taskinput{
    width: 25rem;
 }
 .taskleft{
    font-size: 1.2rem;
    width: 26rem;
    margin-left: 9rem;
 }
 .footer{
     width: 42rem;
     font-size: 2.4rem;
 }
}


@media (max-width: 30em){
    
    .app-main{
     
        width: 35em;
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .headline{
        margin-top: 2rem;
        font-size: 3rem;
    }
    .taskinput{
        width: 18rem;
     }
     .taskleft{
        font-size: 1.1rem;
        width: 24rem;
        margin-left: 6rem;
     }
     .footer{
        width: 34rem;
        font-size: 1.8rem;
     }
}